/* UNIVERSAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    color: #102542;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1em;
}

p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.2em;
    color: #66717e;
}

a {
    text-decoration-line: none;
    color: #E89005;
}

body {
    margin: 0;
}

.container {
    display: grid;
    max-width: 80%;
    margin-left: 5%;
}

button {
    text-transform: uppercase;
    border: none;
    background-color: #E89005;
    color: #fff;
}


/* NAV */

nav {
    width: 100%;
    text-align: right;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 6px solid #66717e;
}

nav a {
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #dd5325;
    margin-left: 1em;
    margin-right: .2em;
}

nav a:hover {
    color: #E89005;
}


/* HOME */

.home {
    background-image: url('../img/funny-dog.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home h1 {
    text-align: left;
}

.home p {
    color: #fff;
    width: 40%;
}


/* SIGNUP */


/* LOGIN */


/* PROFILE */


/* SEARCH */

.search-form {
    display: grid;
    grid-template-rows: 2em 2em 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #F1F2F3;
    padding: 2em;
    margin-top: 2em;
}

.search-field:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    font-family: 'Righteous', cursive;
    color: #102542;
    font-size: 25px;
}

.search-field:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.search-field:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.search-field:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search-field:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.search-field:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.search-field:nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.search-btn,
.search-zip,
select {
    width: 100%;
    border: none;
}

.search-zip,
select {
    background-color: #fff;
}

.pet-animal-btn {
    float: right;
}


/* SEARCH RESULTS */

.pet-results {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Droid Sans', sans-serif;
}

.one-pet img {
    width: 100%;
}

.pet-result-name {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}


/* PET INFO */


/* COMPARE */
