/* UNIVERSAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    color: #102542;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1em;
}

p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.2em;
    color: #66717e;
}

a {
    text-decoration-line: none;
    color: #E89005;
}

body {
    margin: 0;
}

.container {
    display: grid;
    max-width: 80%;
    margin-left: 5%;
}


/* NAV */

nav {
    width: 100%;
    text-align: right;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 6px solid #F1F2F3;
}

nav a {
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #dd5325;
    margin-left: 1em;
    margin-right: .2em;
}

nav a:hover {
    color: #E89005;
}


/* HOME */

.home {
    background-image: url('../img/funny-dog.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home h1 {
    text-align: left;
}

.home p {
    color: #fff;
    width: 40%;
}


/* SIGNUP */


/* LOGIN */


/* PROFILE */


/* SEARCH */


/* PET INFO */


/* COMPARE */
