<div class="full-compare">
    <div class="compare-results">
        <div class="compared">
            <img src="{{profileImg}}">
        </div>
        <div class="compared">
            <img src="{{petImg}}">
        </div>
        <div class="compared">
            <p>{{matchResults}}</p>
        </div>
        <div class="compared">
            <button type="button" class="compare-adopt"><a href="https://www.petfinder.com/petdetail/{{petId}}" target="_blank">Go Adopt This Pet On PetFinder!</a></button>
        </div>
        <div class="compared">
            <button type="button" class="compare-fave" ng-click="addFavorite()">Add to Favorites</button>
        </div>
    </div>
</div>
