<div class="home">
    <div class="welcome container">
        <h1>doggleg&#228;nger</h1>
        <p>People say pets look like their owners. Doggleganger allows you to find the perfect pet based on a percentage look-alike match, as well as personality information about the animal.</p>
        <a href="/signup" ng-hide="Auth.isLoggedIn()">Signup</a>
        <a href="/login" ng-hide="Auth.isLoggedIn()">Login</a>
    </div>
</div>
<div class="container hp-test">
    <p>Skeptical? Give it a spin.</p>
    <p>Insert test here</p>
</div>
