<div class="home">
    <div class="welcome container">
        <h1>doggleg&#228;nger</h1>
        <p>People say pets look like their owners. Doggleganger allows you to find the perfect pet based on a percentage look-alike match, as well as personality information about the animal.</p>
        <a href="/signup" ng-hide="Auth.isLoggedIn()">Signup</a>
        <a href="/login" ng-hide="Auth.isLoggedIn()">Login</a>
    </div>
</div>
<div class="container hp-test">
    <p>Skeptical? Give it a spin.</p>
    <div class="pick-one">
      <h1>compare one of these people</h1>
      <img src="../img/home-test/sk.jpg" ng-click="userChosen()">
      <img src="../img/home-test/ab.jpg" ng-click="userChosen()">
      <img src="../img/home-test/at.jpg" ng-click="userChosen()">
    </div>
    <div class="pick-one">
    <h1>to one of these pets</h1>
    <img src="../img/home-test/zoe.png" ng-click="petChosen()">
    <img src="../img/home-test/zero.png" ng-click="petChosen()">
    <img src="../img/home-test/hobbes.png" ng-click="petChosen()">
    </div>
</div>
