<nav ng-controller="NavCtrl">
	<div class="btn-group" uib-dropdown is-open="status.isopen">
        <i class="fa fa-bars" aria-hidden="true" uib-dropdown-toggle ng-disabled="disabled"></i>
      	<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        	<li role="menuitem"><a href="/signup">Sign Up</a></li>
        	<li role="menuitem"><a href="/login">Log In</a></li>
        	<li role="menuitem" ng-show="Auth.isLoggedIn()"><a href="/search">Search</a></li>
        	<li role="menuitem" ng-show="Auth.isLoggedIn()"><a href="/profile">Profile</a></li>
        	<li role="menuitem" ng-click="logout()" ng-show="Auth.isLoggedIn()">
                <a href="#">Logout</a>
            </li>
      	</ul>
    </div>
    <a href="/" id="nav-logo" class="logo">doggleg&#228;nger</a>
    <a href="/search" ng-show="Auth.isLoggedIn()" class="nav-a">search</a>
    <a href="/profile" ng-show="Auth.isLoggedIn()" class="nav-a">profile</a>
    <a ng-click="logout()" ng-show="Auth.isLoggedIn()" class="nav-a">logout</a>
</nav>
