<div>
    <h2>Pet Details</h2>
    <img src="{{pet.media.photos.photo[2].$t}}">
    <div class="pet-info">
        <p>Name: {{ pet.name.$t }}</p>
        <p>Description: {{ pet.description.$t }}</p>
        <p>Type: {{ pet.animal.$t }}</p>
        <p>Breed: {{ pet.breeds.breed.$t }}</p>
        <p>Size: {{ pet.size.$t }}</p>
        <p>Sex: {{ pet.sex.$t }}</p>
        <p>Location: {{ pet.contact.city.$t }}, {{pet.contact.state.$t}}</p>
        <a href="https://www.petfinder.com/petdetail/{{petId}}" target="_blank">Go Adopt This Pet On PetFinder!</a>
    </div>
    <button class="compare"><a href="/compare" target="_blank">Compare Me to This Creature!</a></button>
</div>
