<div class="container pet-show">
    <h2 class="pet-name">Meet {{ pet.name.$t }}</h2>
    <div class="pet-bio">
        <div class="pet-info">
            <img src="{{pet.media.photos.photo[2].$t}}">
            <div class="pet-actions">
                <a href="https://www.petfinder.com/petdetail/{{petId}}" target="_blank">
                    <button class="pet-finder">Adopt {{ pet.name.$t }} On PetFinder!</button>
                </a>
                <button type="button" ng-click="addFavorite()">Add {{ pet.name.$t }} to Favorites</button>
                <a href="/compare">
                    <button class="compare">Compare Photos with {{ pet.name.$t }}</button>
                </a>
            </div>
        </div>
        <div class="pet-facts">
            <p><span class="category">Description:</span> {{ pet.description.$t }}</p>
            <p><span class="category">Type:</span> {{ pet.animal.$t }}</p>
            <p><span class="category">Breed:</span> {{ pet.breeds.breed.$t }}</p>
            <p><span class="category">Size:</span> {{ pet.size.$t }}</p>
            <p><span class="category">Sex:</span> {{ pet.sex.$t }}</p>
            <p><span class="category">Location:</span> {{ pet.contact.city.$t }}, {{pet.contact.state.$t}}</p>
        </div>
    </div>
</div>
