<div class="profile-content container">
    <h3>Your Profile Information</h3>
    <div class="change-img">
        <img src="{{user.profileImg}}">
        <div class="form-group" action="/edit" method="POST" enctype="multipart/form-data">
            <label for="profileImg">Change picture url</label>
            <input type="text" class="form-control" id="profileImg" ng-model="user.profileImg">
        </div>
    </div>
    <p>First Name: {{ user.firstName }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Password: Hidden <a href="#">Update Password</a></p>
    <div ng-repeat="pet in user.favorites">
        <p><a href="/petShow/{{ pet.id }}">{{ pet.name }}</a></p>
        <img src="{{ pet.petImg }}" alt="{{ pet.name }}">
    </div>
</div>
