<div class="search-pg">
    <form ng-submit="petSearch()" class="container search-form">
        <div class="search-field">
            Search for Your Perfect Match
        </div>
        <div class="animal-search search-field">
            <label for="petAnimal">Type of Pet</label>
            <button type="button" class="pet-animal-btn" ng-click="getBreeds()">Get Breeds</button>
            <select name="petAnimal" class="form-control pet-animal" ng-model="pet.animal">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="reptile">Reptile</option>
                <option value="pig">Pig</option>
                <option value="horse">Horse</option>
                <option value="barnyard">Barnyard</option>
                <option value="smallfury">Small Furry</option>
            </select>
        </div>
        <div class="breeds-search search-field">
            <label for="petBreed">Pet's Breed</label>
            <select name="petBreed" class="form-control" ng-model="pet.breed">
                <option disabled>Must choose animal type first.</option>
                <option ng-repeat="breed in breeds" ng-model="breeds">{{ breed.$t }}</option>
            </select>
        </div>
        <div class="size-search search-field">
            <label for="petSize">Pet's Size</label>
            <select name="petSize" class="form-control" ng-model="pet.size">
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
                <option value="XL">Extra Large</option>
            </select>
        </div>
        <div class="sex-search search-field">
            <label for="petSex">Pet's Sex</label>
            <select name="petSex" class="form-control" ng-model="pet.sex">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>
        <div class="location-search search-field">
            <label for="petLocation">Pet's Location (Zip Code)</label>
            <input name="petLocation" class="form-control search-zip" ng-model="pet.location" required>
        </div>
        <div>
            <button type="submit" class="search-btn search-field">Search</button>
        </div>
    </form>
    <div class="container pet-results" ng-model="pets" ng-repeat="result in pets">
        <div class="pet-result-image"><img src="{{ result.media.photos.photo[2].$t }}" alt="{{ result.name.$t }}"></div>
        <div class="pet-result-name"><a href="/petShow/{{ result.id.$t }}">{{ result.name.$t }}</a></div>
    </div>
</div>
