<div class="search-pg container">
    <form ng-submit="petSearch()" class="search-form">
        <div class="search-field">
            Search for a Pet to Compare
        </div>
        <div class="animal-search search-field">
            <label for="petAnimal">Type of Pet</label>
            <select name="petAnimal" class="form-control pet-animal" ng-model="pet.animal">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="reptile">Reptile</option>
                <option value="pig">Pig</option>
                <option value="horse">Horse</option>
                <option value="barnyard">Barnyard</option>
                <option value="smallfurry">Small Furry</option>
            </select>
        </div>
        <div class="breeds-search search-field">
            <label for="petBreed">Pet's Breed</label>
            <select name="petBreed" class="form-control" ng-model="pet.breed">
                <option disabled value="">Must choose animal type first.</option>
                <option ng-repeat="breed in breeds" ng-model="breeds">{{ breed.$t }}</option>
            </select>
        </div>
        <div class="size-search search-field">
            <label for="petSize">Pet's Size</label>
            <select name="petSize" class="form-control" ng-model="pet.size">
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
                <option value="XL">Extra Large</option>
            </select>
        </div>
        <div class="sex-search search-field">
            <label for="petSex">Pet's Sex</label>
            <select name="petSex" class="form-control" ng-model="pet.sex">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>
        <div class="location-search search-field">
            <label for="petLocation">Pet's Location (Zip Code)</label>
            <input name="petLocation" class="form-control search-zip" ng-model="pet.location" required>
        </div>
        <div class="search-field">
            <button type="submit" class="search-btn">Search</button>
        </div>
    </form>
    <div class="pet-results" id="petResults">
        <div class="one-pet" ng-model="pets" ng-repeat="result in pets">
            <div class="pet-result-image">
                <a href="/petShow/{{ result.id.$t }}" target="_blank"><img src="{{ result.media.photos.photo[2].$t }}" alt="{{ result.name.$t }}"></a>
            </div>
            <div class="pet-result-name"><a href="/petShow/{{ result.id.$t }}" target="_blank">{{ result.name.$t }}</a></div>
        </div>
    </div>
</div>
<script>
new AnimOnScroll(document.getElementById('petResults'), {
    minDuration: 0.4,
    maxDuration: 0.7,
    viewportFactor: 0.2
});
</script>
