<div class="login-pg">
    <div class="container">
        <form ng-submit="userLogin()" class="signin-form">
            <h3>Login</h3>
            <div class="form-group signin">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="youremail@notaol.com" ng-model="user.email">
            </div>
            <div class="form-group signin">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password">
            </div>
            <button type="submit" class="signin-btn signin">Login</button>
        </form>
    </div>
</div>
